/* dropdown */
.dropdown {
	position: relative;
  
	> .caption {
		position: relative;
		padding-right: 2rem;
		cursor: pointer;
		width: 100%;
		text-align: left;
		
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: .8rem;
			height:.8rem;
			border-right: 2px solid #333;
			border-bottom: 2px solid #333;
			right: 15px;
			top: calc(50% - .6rem);
			transform: rotate(45deg);
			transition: .5s;
		}
	}
	
	> .list {
		position: absolute;
		background-color: #fff;
		width: 100%;
		border-radius: .4rem;
		box-shadow: 0 0 2.5rem rgba(0, 0, 0, .15);
		top: 4rem;
		display: none;
		overflow: hidden;
		z-index: 11;
	  
		> .item {
			padding: 1.2rem 2.4rem;
			cursor: pointer;
			width: 100%;
			display: inline-block;
			font-size: 1.5rem;
			color: var(--color-info);
			
			+ .item {
				border-top: 1px solid #eee;
			}
			
			&.selected {
				font-weight: var(--font-bold);
			}
			&:hover {
				background-color: var(--color-info);
				color: #fff;
			}
		}
	}	
	
	&.open{
		> .caption::after {
		  transform: rotate(225deg);
		  top: calc(50% - 2px);
		}
		> .list {
		  display: block;
		}
	}
}
