@charset "UTF-8";

#skip { position: relative; }
#skip > a { position: absolute; top: -1000px; left: -1000px; height: 1px; width: 1px; text-align: left; overflow: hidden; }
#skip > a:where(:active,:focus,:hover){ display: block; position: relative; left: 0; top: 0; overflow: visible; width: auto; height: auto; padding: 10px 0px; font-size: 1.2rem; font-weight: var(--font-bold); text-align: center; background: rgba(6, 74, 133, 0.1); }

.wrap {display:flex;flex-flow: column;min-height: 100%;}

/* layout03 */
header { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
header .inner { max-width: 1400px; width: 100%; margin: 0 auto; }
.hTop { border-bottom: 1px solid #eee; }
.hTop .inner { display: flex; justify-content: space-between; align-items: center; }

.hLogo a { font-size: 2.2rem; font-family: "NanumSquare"; color: #333; text-decoration: none; }
.hLogo a:hover { color: rgba(0, 0, 0, 0.6); } 

.hUtil { list-style: none; padding: 0; margin: 0; display: flex; align-items: stretch; }
.hUtil > li {padding: 0 4px; border-right: 1px solid #eee; display: flex; align-items: center; }
.hUtil > li > a { padding: 0 15px; color: #333; }

.hSch {display: flex; justify-content: right;position: relative; }
.hSch input { border: 0; width: 300px; padding: 18px; background: #fff; border-radius: 5px; height: 100%;}
.hSch input:focus { outline: 0; box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.34); }
.hSch .hSchBtn { position: absolute; right: 0; top: 0; width: 50px; height: 50px; }
.hSch.active{display: flex !important; }

/* hGnb */
.hGnb {max-width: var(--con-width); width: 98%; list-style: none; padding: 0px; margin: 0px auto; display: flex; justify-content: space-between; align-items: center;}
.hGnb > li > a { text-decoration: none;color:var(--font-color); font-size: 2rem; font-family: var(--font-tit); display: inline-block; padding: 2rem 0.8rem; }
.hGnb > li > a:hover { color: rgb(20 122 218);font-weight:var(--font-bold); }
.hGnb > li.active > .gnb_sub {opacity: 1; height: auto;}
.gnb_sub { position: absolute; left: 0; right: 0; top: 12.1rem; overflow: hidden;opacity: 0; border-top:1px solid #eee;border-bottom:1px solid #eee;background: #f9f9f9; height: 0; z-index:100; transition-duration: 0.8s; }
.gnb_sub_wrap { position: relative; max-width: var(--con-width); margin: 0 auto; padding: 0 0 0 25rem; }
.gnb_sub_wrap > .tit { margin: 0; position: absolute; left: 0; top: 0; width: 25rem; height: 100%; padding: 2.5rem; background: #132a4c; }
.gnb_sub_wrap > .tit .inner { display: inline-block; position: relative; height: 100%; text-align: left; width: 100%; }
.gnb_sub_wrap > .tit p { margin: 0.6rem 0px; display: inline-block; vertical-align: middle; font-family: var(--font-tit); }
.gnb_sub_wrap > .tit p.icon { border-radius: 50%; background: #1e4b73; position: absolute; bottom: 0; right: 0; padding: 0.3rem; margin: 0; }
.gnb_sub_wrap > .tit p.icon::after { content: ""; display: block; /* background: url() 0px 0px;  */ width: 7rem; height: 7rem; }
.gnb_sub_wrap > .tit p.tit { color: #fff; font-size: 2.4rem; font-weight: var(--font-bold); }
.gnb_sub_wrap > .tit p.smr { color: #9babb9; font-size: 1.65rem; }
.gnb_sub_wrap > ul { text-align: left; min-height: 26rem; }
.gnb_sub_wrap > ul li { display: inline-block; width: 19%; vertical-align: top; text-align: left; margin: 1.5rem 0; padding: 1rem 0px; /* float: left; */ }
.gnb_sub_wrap > ul li + li::after { content: ""; position: absolute; top: 0px; background: #ddd; width: 1px; height: calc(100% - 3rem); margin: 1.5rem 0; }
.gnb_sub_wrap > ul li a { display: block; padding: 0.5rem 0; margin: 0 2rem; font-size: 1.5rem; color: #132a4c; }
.gnb_sub_wrap > ul li a:hover,
.gnb_sub_wrap > ul li a:focus,
.gnb_sub_wrap > ul li a.active { text-decoration: underline; font-weight: var(--font-bold); }
.gnb_sub_wrap > ul li a.tit { font-family: var(--font-tit); font-size: 1.8rem; margin: 0.5rem 2rem 1.5rem; font-weight: var(--font-bold); }

@media (max-width: 992px) {
	.hTop .inner{height:6rem;}
	.hLogo{width: 10rem; text-align: center; position: absolute; left: calc(50% - 5rem); }
	.hUtil{width: 100%; justify-content: space-between; }
	.hTop .hUtil > li { border-right:0;}
	.hSch{top:6rem; left: 0; right: 0; position: absolute;border: 1px solid #666; background: #fff;}
	.hSch input{width: 100%; }
	.hSch.active{display: block;}
	.hGnb .btn-allmenu{position: absolute; right: 10px; top: 10px;}
}

.container {flex-grow: 1;display: flex;align-items: flex-start;margin: 2rem auto; max-width:var(--con-width);width: 98%;}
.content {flex-grow: 1;}

.lSnb {margin-right: 2rem;width: 25rem; border: 1px solid #e3e3e3; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
.lSnb h2 { height: 125px; margin: 0; color: #fff; font-size: 2.2rem; font-weight: var(--font-bold); line-height: 125px; text-align: center; background: #192e59; font-family: var(--font-tit);}
.lSnb > ul { background: #fff; }
.lSnb > ul > li + li { border-top: 1px solid #d9d9d9; }
.lSnb > ul > li > a { display: block; position: relative; text-indent: 20px; font-size: 1.65rem; font-weight: var(--font-bold); font-family: var(--font-tit); color: #333; line-height: 60px; }
.lSnb > ul > li > a:before { content: ""; position: absolute; right: 15px; top: 28px; width: 8px; height: 8px; border-left: 1px solid #000; border-top: 1px solid #000; transform: rotate(135deg); transition: 0.5s; }
.lSnb > ul > li > a:where(:active, :focus, :hover, .current) { color: #fff; background: #147ADA; }
.lSnb > ul > li > a:where(:active:before, :focus:before, :hover:before, .current:before){ border-color: #fff; }
.lSnb > ul > li > a.a-toggle:before { transform: rotate(225deg);}
.lSnb > ul > li > a.a-toggle:where(:active:before,:focus:before,:hover:before) { border-color: #fff; }
.lSnb > ul > li > a.a-toggle.current:before { transform: rotate(45deg); border-color: #fff;}
.lSnb div li a:where(:active, :focus, :hover, .current){ color: #147ADA; font-weight: var(--font-bold); }
.lSnb .depth3 { font-size: 1.4rem; }
.lSnb .depth3 > ul { padding: 5px 5px; }
.lSnb .depth3 > ul > li { border-bottom: 1px solid #eee; }
.lSnb .depth3 > ul > li:last-child { border: 0; }
.lSnb .depth3 > ul > li > a { display: block; position: relative; padding: 11px 15px; font-size: 1.5rem; color: #666; }
.lSnb .depth3 > ul > li > a.a-toggle:before { content: "+"; position: absolute; right: 1.6rem; top: 9px; color: #666; font-size: 1.6rem; }
.lSnb .depth3 > ul > li > a.a-toggle:where(:active:before, :focus:before, :hover:before) { color: #3d89ca; }
.lSnb .depth3 > ul > li > a.a-toggle.current:before { right: 1.6rem; content: "-"; color: #147ADA; font-size: 3rem; line-height: 25px;}
.lSnb .depth3 li:last-child .depth4 { border-bottom: 0px; }
.lSnb .depth4 { padding: 5px 0; background: #f5f5f5; border: 0; }
.lSnb .depth4 li a { display: block; position: relative; padding: 5px 10px 5px 35px;}
.lSnb .depth4 li a:before { content: ""; position: absolute; left: 20px; top: 14px; width: 3px; height: 3px; background: #333; }
.lSnb .depth4 li > a:where(:active:before, :focus:before, :hover:before, .current:before) { background: #147ADA; }
.lSnb .depth5 { padding: 5px 0 5px 10px; }
.lSnb .depth5 li > a { display: block; position: relative; padding: 2px 10px 2px 39px; }
.lSnb .depth5 li > a:before { content: "-"; top: 2px; left: 25px; width: auto; height: auto; background: none; }
.lSnb .depth5 li > a:where(:active:before, :focus:before, :hover:before, .current:before) { color: #147ADA; font-weight: var(--font-bold); background: none; }

footer { background: #f9f9f9; border-top: 1px solid #ddd; }
footer > .inner { max-width:var(--con-width); width: 96%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
footer .fInfo { padding: 0.8rem 0; }
footer .fInfo .fUtil { list-style: none; padding: 0; margin: 0; display: flex; }
footer .fInfo .fUtil li a { font-family: var(--font-body), sans-serif; font-size: 1.6rem; color: #111; display: inline-block; padding: 2.5rem; font-weight: var(--font-bold); }
footer .fInfo .fUtil li:first-child a { padding-left: 0; }
footer .fInfo .fAdd p { margin: 0; font-size: 1.5rem; }
footer .fInfo .fAdd p a { color: #005fc5; }
footer .fInfo .fAdd .copy { margin: 2.5rem 0; }

@media (max-width: 576px) {
	footer .fInfo .fUtil{justify-content: center;}
	footer .fInfo .fUtil li a{padding: 1.5rem 1rem;}
	footer address{text-align:center;}
	footer .fInfo .fAdd .copy{ margin: 1.5rem 0;}
}

/* 전체메뉴 */
.allmenu { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.4); z-index: -1; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; font-family: var(--font-tit); }
.allmenu .inner { max-width: 1200px; margin: 75px auto; height: calc(100% - 150px); background: #fff; -webkit-transition: 0.5s; transition: 0.5s; }
.allmenu .am_header { border-bottom: 1px solid #7d7d7d; padding: 2rem; display: flex; justify-content: space-between; }
.allmenu .am_header .tit { display: flex; font-size: 2.2rem; color: #333; font-weight: var(--font-bold); margin: 0; padding: 0; }
.allmenu .am_header button { width: 27px; height: 27px; border: 0; background: none; margin: 0; }
.allmenu .am_log{background: #147ADA;justify-content: space-evenly;}
.allmenu .am_log a{color: rgb(255, 255, 255); display: inline-block; padding: 10px; font-size: 1.6rem; font-family: var(--font-body); font-weight: var(--font-bold);}
.allmenu .am_log .logOut{}
.allmenu .am_log .logIn{}
.allmenu .am_body { overflow-y: auto; width: 100%; height: calc(100% - 72px); margin: 0; }
.allmenu .am_body > li { position: relative; min-height: 220px; border-bottom: 1px solid #ddd; padding: 0 0 0 245px; }
.allmenu .am_body .mainMn { position: absolute; left: 0; top: 0; width: 245px; height: 100%; padding: 25px; background: #f3f4f8; }
.allmenu .am_body .mainMn .tit { color: #333; font-size: 23px; font-weight: var(--font-bold); margin: 5px 0 15px 0; }
.allmenu .am_body .mainMn .smr { color: #6e6e70; font-size: 1.6rem; font-family: var(--font-body), sans-serif; }
.allmenu .am_body .mainMn .icon { background: #fff; border-radius: 50%; width: 70px; height: 70px; position: absolute; bottom: 20px; right: 20px; margin: 0; }
.allmenu .am_body .mainMn .icon::after { content: ""; display: block; margin: 11px; width: 70px; height: 70px; background: url() 0px 0px; }
.allmenu .am_body .subMn { padding: 23px 0; }
.allmenu .am_body .subMn::after { display: block; content: ""; clear: both; }
.allmenu .am_body .subMn > li { float: left; width: 25%; }
.allmenu .am_body .subMn > li::before { content: ""; position: absolute; top: 0; background: #ebebeb; width: 1px; height: calc(100% - 30px); margin: 15px 0; }
.allmenu .am_body .subMn > li:nth-child(4n-3)::before { background: none; }
.allmenu .am_body .subMn > li:nth-child(4n+1) { clear: both; }
.allmenu .am_body .subMn > li > .tit { font-size: 18px; color: #333; font-weight: var(--font-bold); padding: 0 20px; }
.allmenu .am_body .detailMn { padding: 0 20px; }
.allmenu .am_body .detailMn a { display: block; font-size: 1.5rem; color: #555; font-family: var(--font-body), sans-serif; padding: 3px 0;}
.allmenu.on { opacity: 1; z-index: 10; }

@media (max-width: 992px) {
	.allmenu .inner{margin: 0; height: 100%;}
	.allmenu .am_header{background: #022242;    border: 0;}
	.allmenu .am_header .tit{color:#fff;}
	.allmenu .am_header button::before, 
	.allmenu .am_header button::after{background:#fff;}
	.allmenu .am_body > li{padding:0;    min-height: auto;}
	.allmenu .am_body .mainMn{position: static; width: 100%; height: auto;padding: 2rem; background: #fff;}
	.allmenu .am_body .mainMn .tit{margin: 0;font-family: var(--font-body); font-size: 1.9rem; font-weight: var(--font-bold);justify-content: space-between;}
	.allmenu .am_body .subMn{padding:0;}
	.allmenu .am_body .subMn > li{width:100%;float:none;}
	.allmenu .am_body .subMn > li + li{border-top: 1px solid #eee;}
	.allmenu .am_body .subMn > li::before{display:none;}
	.allmenu .am_body .subMn > li > .tit{padding: 1.5rem 2rem 1.5rem 3.5rem; font-size: 1.6rem;font-family:var(--font-body);margin: 0;justify-content: space-between;}
	.allmenu .am_body .detailMn{padding: 0;}
	.allmenu .am_body .detailMn a{padding: 1rem 1rem 1rem 4.5rem;background: #f5f5f5; border-top: 1px solid #e5e5e5;font-weight: var(--font-bold); }	
	
	.allmenu .am_body > li.active > .collapsCon{max-height:none !important;}
	.allmenu .am_body > li.active .mainMn{background: rgb(2 87 167);}
	.allmenu .am_body > li.active .mainMn .tit{color: #fff;} 
	.allmenu .am_body > li.active .mainMn .tit::after{border-color:#fff;}	
	
	.allmenu .am_body .subMn > li.active > .tit{font-weight: var(--font-bold); color: #147ada;}
	.allmenu .am_body .subMn > li.collapsSet .collapsible{position:relative;}
	.allmenu .am_body .subMn > li.collapsSet .collapsible::after, 
	.allmenu .am_body .subMn > li.collapsSet .collapsible::before{position: absolute;top:0;right: 0;content: ""; display: block; margin: 0; 
	border-right: 0; border-bottom: 0; transition: 0.5s; width: 2px; height: 13px; background: #777; transform: rotate(0deg);}
	.allmenu .am_body .subMn > li.collapsSet .collapsible::after{ width: 1px; height: 9px;top: calc(50% - 5px);right:2.8rem;}
	.allmenu .am_body .subMn > li.collapsSet .collapsible::before{width: 9px; height: 1px;top: calc(50% - 1px);right:2.3rem;}
	.allmenu .am_body .subMn > li.collapsSet.active  .collapsible:after{display:none;}
}

@media (max-width: 576px) {
	.hSnb .inner > li{width:auto;}
	.hSnb .inner .dropdown > .btn{height: 4rem; padding: 0 4rem 0 1rem; font-size: 1.6rem; font-family: var(--font-body);}
    .hSnb .inner .dropdown > .caption::after { top: 1.5rem; right: 1.5rem; border-color: #fff; }
    .hSnb .inner .dropdown { position: static;}
    .hSnb .inner li .list{width:auto;top: 100px; left: 0.5rem; right: 0.5rem;}
}

/* shape ico*/
[class*=icoS-] { width: 28px; height: 28px; display: block; position: relative; font-size: 0; margin: auto; overflow: hidden; }
[class*=icoS-]::before, [class*=icoS-]::after { display: block; content: ""; position: absolute; }

[class*=icoS-sch]::before { width: 22px; height: 22px; border: 2px solid #fff; border-radius: 50px; top: 0px; left: 0px; }
[class*=icoS-sch]::after { width: 2px; height: 10px; background: #fff; transform: rotate(-45deg); top: 17px; left: 21px; }

.icoS-sch-b::before { border-color: #000; }

.icoS-sch-b::after { background: #000; }

[class*=icoS-allmenu] { display: flex; flex-flow: column; justify-content: space-around; }
[class*=icoS-allmenu] span { width: 100%; height: 2px; background: #fff; display: block; font-size: 0; }

.icoS-allmenu-b span { background: #000; }

[class*=icoS-user]::before { width: 12px; height: 12px; border: 2px solid #fff; border-radius: 50px; top: 2px; left: calc(50% - 6px); }
[class*=icoS-user]::after { width: 26px; height: 26px; border: 2px solid #fff; border-radius: 50px; top: calc(100% - 12px); left: 1px; }

.icoS-user-b::before,
.icoS-user-b::after { border-color: #000; }

[class*=icoS-home]::before { width: 18px; height: 18px; border-top: 1px solid #fff; border-right: 1px solid #fff; transform: rotate(-45deg); top: 8px; left: calc(50% - 9px); }
[class*=icoS-home]::after { width: 18px; height: 13px; border: 1px solid rgba(255, 255, 255, 0.9); border-top: 0; top: 13px; left: calc(50% - 9px); }

[class*=icoS-close]::before, [class*=icoS-close]::after { width: 2px; height: 28px; background: #fff; transform: rotate(45deg); display: inline-block; left: 50%; top: 0; }
[class*=icoS-close]::after { transform: rotate(135deg); }

.icoS-close-b::before,
.icoS-close-b::after { background: #000; }