@charset "UTF-8";

#skip { position: relative; }
#skip > a { position: absolute; top: -1000px; left: -1000px; height: 1px; width: 1px; text-align: left; overflow: hidden; }
#skip > a:where(:active,:focus,:hover){ display: block; position: relative; left: 0; top: 0; overflow: visible; width: auto; height: auto; padding: 10px 0px; font-size: 1.2rem; font-weight: var(--font-bold); text-align: center; background: rgba(6, 74, 133, 0.1); }

.wrap {display:flex;flex-flow: column;min-height: 100%;}

/* layout01 */
header { background: #147ADA;}
.hTop { max-width:var(--con-width); width: 98%; height: 7rem; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
.hTop .hLogo { width: 10rem; }
.hTop .hGnb { list-style: none; padding: 0; margin: 0; display: flex; flex-grow: 1; justify-content: space-evenly; }
.hTop .hUtil { list-style: none; padding: 0; margin: 0; display: flex; }

.hLogo a { font-size: 2.2rem; font-family: var(--font-tit); color: #fff; text-decoration: none; }
.hLogo a:hover { color: rgba(255, 255, 255, 0.8); }

.hGnb > li > a { text-decoration: none; color: #fff; font-size: 2rem; font-family: var(--font-tit); display: inline-block; padding: 0.8rem; }
.hGnb > li > a:hover { color: #a0ffe0; }
.hGnb > li.active > .gnb_sub {opacity: 1; height: auto;}
.hGnb .gnb_sub { position: absolute; left: 0; right: 0; top: 7rem; overflow: hidden;opacity: 0; background: #f9f9f9; height: 0; z-index:100; transition-duration: 0.8s; }
.hGnb .gnb_sub_wrap { position: relative; max-width: var(--con-width); margin: 0 auto; padding: 0 0 0 25rem; }
.hGnb .gnb_sub_wrap > .tit { margin: 0; position: absolute; left: 0; top: 0; width: 25rem; height: 100%; padding: 2.5rem; background: #132a4c; }
.hGnb .gnb_sub_wrap > .tit .inner { display: inline-block; position: relative; height: 100%; text-align: left; width: 100%; }
.hGnb .gnb_sub_wrap > .tit p { margin: 0.6rem 0px; display: inline-block; vertical-align: middle; font-family: var(--font-tit); }
.hGnb .gnb_sub_wrap > .tit p.icon { border-radius: 50%; background: #1e4b73; position: absolute; bottom: 0; right: 0; padding: 0.3rem; margin: 0; }
.hGnb .gnb_sub_wrap > .tit p.icon::after { content: ""; display: block; /* background: url() 0px 0px;  */ width: 7rem; height: 7rem; }
.hGnb .gnb_sub_wrap > .tit p.tit { color: #fff; font-size: 2.4rem; font-weight: var(--font-bold); }
.hGnb .gnb_sub_wrap > .tit p.smr { color: #9babb9; font-size: 1.65rem; }
.hGnb .gnb_sub_wrap > ul { text-align: left; min-height: 26rem; }
.hGnb .gnb_sub_wrap > ul li { display: inline-block; width: 19%; vertical-align: top; text-align: left; margin: 1.5rem 0; padding: 1rem 0px; /* float: left; */ }
.hGnb .gnb_sub_wrap > ul li + li::after { content: ""; position: absolute; top: 0px; background: #ddd; width: 1px; height: calc(100% - 3rem); margin: 1.5rem 0; }
.hGnb .gnb_sub_wrap > ul li a { display: block; padding: 0.5rem 0; margin: 0 2rem; font-size: 1.5rem; color: #132a4c; }
.hGnb .gnb_sub_wrap > ul li a:hover,
.hGnb .gnb_sub_wrap > ul li a:focus,
.hGnb .gnb_sub_wrap > ul li a.active { text-decoration: underline; font-weight: var(--font-bold); }
.hGnb .gnb_sub_wrap > ul li a.tit { font-family: var(--font-tit); font-size: 1.8rem; margin: 0.5rem 2rem 1.5rem; font-weight: var(--font-bold); }

.hUtil > li { position: relative; padding: 0 .4rem; }
.hUtil > li > button { width: 5rem; height: 5rem; display: block; }
.hUtil > li > button:hover { opacity: 0.4; }
.hUtil .hSch { position: absolute; right: .4rem; top: 0; display: none; }
.hUtil .hSch .hSchInput { position: relative; }
.hUtil .hSch .hSchInput input { border: 0; width: 30rem; padding: 1.8rem; background: #fff; border-radius: 5px; height: 100%; }
.hUtil .hSch .hSchInput input:focus { outline: 0; box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.34); }
.hUtil .hSch .hSchBtn { position: absolute; right: 0; top: 0; width: 5rem; height: 5rem; }
.hUtil .hSch.active { display: flex; }
.hUtil .hUser { z-index: 1; display: none; position: absolute; top: 5.6rem; right: 0; width: 20rem; padding: 1rem; background: #fff; border-radius: 5px; box-shadow: 0px 0px 2rem 0px rgba(82, 63, 105, 0.15); }
.hUtil .hUser li + li { border-top: 1px solid #eee; }
.hUtil .hUser li.info { padding: .4rem 0px 1.2rem .4rem; display: flex; align-items: center; flex-flow: column; }
.hUtil .hUser li.info .icoS { background: #ccc; width: 5.5rem; height: 5.5rem; border-radius: 6px; opacity: 50%; display: flex; }
.hUtil .hUser li.info .name { margin: 0 0 0 1rem; line-height: 1.5; font-size: 1.8rem; font-weight: var(--font-normal); font-family: var(--font-tit); }
.hUtil .hUser li.info .id { display: block; font-family: var(--font-body), sans-serif; font-size: 1.4rem; font-weight: var(--font-normal); color: #aaa; }
.hUtil .hUser li.info .smr { margin: 1rem .5rem 0 .5rem; font-size: 1.4rem; text-align: center; }
.hUtil .hUser li.btns { padding-top: 1rem; display: flex; justify-content: space-between; }
.hUtil .hUser li.btns .btn { width: calc(50% - .5rem); }
.hUtil .hUser :where(.info .name, .info .id, .btns button:nth-child(n+3):nth-child(-n+4)){ display: none; }
.hUtil .hUser.on .info { flex-flow: row; }
.hUtil .hUser.on :where(.info .name, .info .id, .btns button:nth-child(n+3):nth-child(-n+4)){ display: block; }
.hUtil .hUser.on :where(.info .smr, .btns button:nth-child(n+1):nth-child(-n+2)) { display: none; }
.hUtil .hUser.active { display: block; position: absolute; }

@media (max-width: 992px) {
  .hTop .hLogo { width: 10rem; text-align: center; position: absolute; left: calc(50% - 5rem); }
  .hTop .hUtil { width: 100%; justify-content: space-between; }
  .hUtil { position: relative; }
  .hUtil > li { position: static; }
  .hUtil .hSch { top: 6.2rem; left: 0; right: 0; }
  .hUtil .hSch.active { display: block; }
  .hUtil .hSch .hSchInput input { width: 100%; }
}

/* layout 공통 */
.hSnb { background: #132A4C; padding: 0; }
.hSnb .inner {  max-width:var(--con-width); width: 98%;display: flex; margin: 0 auto; background: #132A4C; }
.hSnb .inner > li { vertical-align: top;    width: 100%;}
.hSnb .inner li.util { width: 6.5rem; background: #004b91; }
.hSnb .inner li.util button { width: 6.5rem; height: 6.5rem; }
.hSnb .inner li.util button:hover::after { opacity: 0.8; }
.hSnb .inner .dropdown { width: 100%;}
.hSnb .inner .dropdown.active { display: block;}
.hSnb .inner .caption{ position: relative; height: 6.5rem; width: 100%; border: 0; border-right: 1px solid #3c5e78; text-align: left; padding: 0 6rem 0 2.5rem; 
background: transparent; color: #fff; font-size: 1.8rem; font-family: var(--font-tit); border-radius: 0; font-weight: var(--font-normal); }
.hSnb .inner .caption::after { top: 2.5rem; right: 2.5rem; border-color: #fff; }
.hSnb .inner .caption:where(:hover, :focus){ color: #fff; background-color: #003c6c; text-decoration: underline; }
.hSnb .inner .list { width: 100%; padding: 0; overflow: hidden; z-index: 1005; top: 7rem; }
.hSnb .inner .list li { padding: 0; }
.hSnb .inner .list li:hover { background-color: #f8f8f8; }
.hSnb .inner .list li a { display: block; padding: 1.5rem 2rem; font-family: var(--font-body), sans-serif; color: #000; font-size: 1.8rem;}
.hSnb .inner .list li a:hover { text-decoration: none;}
.hSnb .inner .list li:last-child a { border-bottom: 0; }
.hSnb .inner .list li.active a { color: #fff; background-color: #337ab7; }
.hSnb .inner .list li a.active { color: #6cffed; font-weight: var(--font-bold);}

@media (max-width: 576px) {
    .hSnb .inner .dropdown {position: static;}
	.hSnb .inner .caption{height: 4rem; padding: 0 4rem 0 1rem; font-size: 1.6rem; font-family: var(--font-body);}
    .hSnb .inner .caption::after { top: 1.5rem; right: 1.5rem; border-color: #fff; }
    .hSnb .inner > li .list{width:auto;top: 100px; left: 0.5rem; right: 0.5rem;}
}

.hFoot { border-top: 1px solid rgba(255, 255, 255, 0.2); height: 15rem; display: flex; flex-flow: column; justify-content: center; padding-left: 6rem;  background: #147ADA; }
.hFoot h1 { max-width:var(--con-width); width: 98%; margin: 0 auto; font-size: 3.5rem; color: #fff; font-family: var(--font-tit); font-weight: var(--font-normal); }
.hFoot .path { max-width:var(--con-width); width: 98%; margin: 0 auto; list-style: none; padding: 0; display: flex; }
.hFoot .path li::after { content: ""; display: inline-block; width: .5rem; height: .5rem; border-bottom: 1px solid #fff; border-left: 1px solid #fff; transform: rotate(225deg); margin: 0px 1rem; vertical-align: middle; }
.hFoot .path li:last-child::after { display: none; }
.hFoot .path a { color: #fff; font-size: 1.4rem; }

.container {margin: 0 auto; flex-grow: 1; width: 100%;}
.content { max-width:var(--con-width); width: 98%; margin: 0 auto; padding: 3rem; position: relative; }

footer {background: #f9f9f9; border-top: 1px solid #ddd; }
footer > .inner { max-width:var(--con-width); width: 98%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
footer .fInfo { padding: 0.8rem 0; }
footer .fInfo .fUtil { list-style: none; padding: 0; margin: 0; display: flex; }
footer .fInfo .fUtil li a { font-family: var(--font-body), sans-serif; font-size: 1.6rem; color: #111; display: inline-block; padding: 2.4rem; font-weight: var(--font-bold); }
footer .fInfo .fUtil li:first-child a { padding-left: 0; }
footer .fInfo .fAdd p { margin: 0; font-size: 1.5rem; }
footer .fInfo .fAdd p a { color: #005fc5; }
footer .fInfo .fAdd .copy { margin: 2.5rem 0; }

@media (max-width: 576px) {
	footer .fInfo .fUtil{justify-content: center;}
	footer .fInfo .fUtil li a{padding: 1.5rem 1rem;}
	footer address{text-align:center;}
	footer .fInfo .fAdd .copy{ margin: 1.5rem 0;}
}

/* 전체메뉴 */
.allmenu { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.4); z-index: -1; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; font-family: var(--font-tit); }
.allmenu .inner { max-width: 1200px; margin: 7.5rem auto; height: calc(100% - 15rem); background: #fff; -webkit-transition: 0.5s; transition: 0.5s; }
.allmenu .am_header { border-bottom: 1px solid #7d7d7d; padding: 2rem; display: flex; justify-content: space-between; }
.allmenu .am_header .tit { display: flex; font-size: 2.2rem; color: #333; font-weight: var(--font-bold); margin: 0; padding: 0; }
.allmenu .am_header button { width: 2.7rem; height: 2.7rem; border: 0; background: none; margin: 0; }
.allmenu .am_log{background: #147ADA;justify-content: space-evenly;}
.allmenu .am_log a{color: rgb(255, 255, 255); display: inline-block; padding: 1rem; font-size: 1.6rem; font-family: var(--font-body); font-weight: var(--font-bold);}
.allmenu .am_log .logOut{}
.allmenu .am_log .logIn{}
.allmenu .am_body { overflow-y: auto; width: 100%; height: calc(100% - 7.2rem); margin: 0; }
.allmenu .am_body > li { position: relative; min-height: 22rem; border-bottom: 1px solid #ddd; padding: 0 0 0 24.5rem; }
.allmenu .am_body .mainMn { position: absolute; left: 0; top: 0; width: 24.5rem; height: 100%; padding: 2.5rem; background: #f3f4f8; }
.allmenu .am_body .mainMn .tit { color: #333; font-size: 2.3rem; font-weight: var(--font-bold); margin: .5rem 0 1.5rem 0; }
.allmenu .am_body .mainMn .smr { color: #6e6e70; font-size: 1.6rem; font-family: var(--font-body), sans-serif; }
.allmenu .am_body .mainMn .icon { background: #fff; border-radius: 50%; width: 7rem; height: 7rem; position: absolute; bottom: 2rem; right: 2rem; margin: 0; }
.allmenu .am_body .mainMn .icon::after { content: ""; display: block; margin: 1.1rem; width: 7rem; height: 7rem; background: url() 0px 0px; }
.allmenu .am_body .subMn { padding: 2.3rem 0; }
.allmenu .am_body .subMn::after { display: block; content: ""; clear: both; }
.allmenu .am_body .subMn > li { float: left; width: 25%; }
.allmenu .am_body .subMn > li::before { content: ""; position: absolute; top: 0; background: #ebebeb; width: 1px; height: calc(100% - 3rem); margin: 1.5rem 0; }
.allmenu .am_body .subMn > li:nth-child(4n-3)::before { background: none; }
.allmenu .am_body .subMn > li:nth-child(4n+1) { clear: both; }
.allmenu .am_body .subMn > li > .tit { font-size: 1.8rem; color: #333; font-weight: var(--font-bold); padding: 0 2rem; }
.allmenu .am_body .detailMn { padding: 0 2rem; }
.allmenu .am_body .detailMn a { display: block; font-size: 1.5rem; color: #555; font-family: var(--font-body), sans-serif; padding: .3rem 0;}
.allmenu.on { opacity: 1; z-index: 10; }

@media (max-width: 992px) {
	.allmenu .inner{margin: 0; height: 100%;}
	.allmenu .am_header{background: #022242;    border: 0;}
	.allmenu .am_header .tit{color:#fff;}
	.allmenu .am_header button::before, 
	.allmenu .am_header button::after{background:#fff;}
	.allmenu .am_body > li{padding:0;    min-height: auto;}
	.allmenu .am_body .mainMn{position: static; width: 100%; height: auto;padding: 2rem; background: #fff;}
	.allmenu .am_body .mainMn .tit{margin: 0;font-family: var(--font-body); font-size: 1.9rem; font-weight: var(--font-bold);justify-content: space-between;}
	.allmenu .am_body .subMn{padding:0;}
	.allmenu .am_body .subMn > li{width:100%;float:none;}
	.allmenu .am_body .subMn > li + li{border-top: 1px solid #eee;}
	.allmenu .am_body .subMn > li::before{display:none;}
	.allmenu .am_body .subMn > li > .tit{padding: 1.5rem 2rem 1.5rem 3.5rem; font-size: 1.6rem;font-family:var(--font-body);margin: 0;justify-content: space-between;}
	.allmenu .am_body .detailMn{padding: 0;}
	.allmenu .am_body .detailMn a{padding: 1rem 1rem 1rem 4.5rem;background: #f5f5f5; border-top: 1px solid #e5e5e5;font-weight: var(--font-bold); }	
	
	.allmenu .am_body > li.active > .collapsCon{max-height:none !important;}
	.allmenu .am_body > li.active .mainMn{background: rgb(2 87 167);}
	.allmenu .am_body > li.active .mainMn .tit{color: #fff;} 
	.allmenu .am_body > li.active .mainMn .tit::after{border-color:#fff;}	
	
	.allmenu .am_body .subMn > li.active > .tit{font-weight: var(--font-bold); color: #147ada;}
	.allmenu .am_body .subMn > li.collapsSet .collapsible{position:relative;}
	.allmenu .am_body .subMn > li.collapsSet .collapsible::after, 
	.allmenu .am_body .subMn > li.collapsSet .collapsible::before{position: absolute;top:0;right: 0;content: ""; display: block; margin: 0; 
	border-right: 0; border-bottom: 0; transition: 0.5s; width: 2px; height: 13px; background: #777; transform: rotate(0deg);}
	.allmenu .am_body .subMn > li.collapsSet .collapsible::after{ width: 1px; height: 9px;top: calc(50% - 5px);right:2.8rem;}
	.allmenu .am_body .subMn > li.collapsSet .collapsible::before{width: 9px; height: 1px;top: calc(50% - 1px);right:2.3rem;}
	.allmenu .am_body .subMn > li.collapsSet.active  .collapsible:after{display:none;}
}


/* shape ico*/
[class*=icoS-] { width: 2.8rem; height: 2.8rem; display: block; position: relative; font-size: 0; margin: auto; overflow: hidden;}
[class*=icoS-]::before, [class*=icoS-]::after { display: block; content: ""; position: absolute; }

[class*=icoS-sch]::before { width: 2.2rem; height: 2.2rem; border: 2px solid #fff; border-radius: 5rem; top: 0px; left: 0px;}
[class*=icoS-sch]::after { width: 2px; height: 1rem; background: #fff; transform: rotate(-45deg); top: 1.7rem; left: 2.1rem;}

.icoS-sch-b::before { border-color: #000; }

.icoS-sch-b::after { background: #000; }

[class*=icoS-allmenu] { display: flex; flex-flow: column; justify-content: space-around; }
[class*=icoS-allmenu] span { width: 100%; height: 2px; background: #fff; display: block; font-size: 0; }

.icoS-allmenu-b span { background: #000; }

[class*=icoS-user]::before { width: 1.2rem; height: 1.2rem; border: 2px solid #fff; border-radius: 5rem; top: 2px; left: calc(50% - .6rem); }
[class*=icoS-user]::after { width: 2.6rem; height: 2.6rem; border: 2px solid #fff; border-radius: 5rem; top: calc(100% - 1.2rem); left: 1px; }

.icoS-user-b::before,
.icoS-user-b::after { border-color: #000; }

[class*=icoS-home]::before { width: 1.8rem; height: 1.8rem; border-top: 1px solid #fff; border-right: 1px solid #fff; transform: rotate(-45deg); top:.8rem; left: calc(50% - .9rem); }
[class*=icoS-home]::after { width: 1.8rem; height: 1.3rem; border: 1px solid rgba(255, 255, 255, 0.9); border-top: 0; top: 1.3rem; left: calc(50% - .9rem); }

[class*=icoS-close]::before, [class*=icoS-close]::after { width: 2px; height: 2.8rem; background: #fff; transform: rotate(45deg); display: inline-block; left: 50%; top: 0; }
[class*=icoS-close]::after { transform: rotate(135deg); }

.icoS-close-b::before,
.icoS-close-b::after { background: #000; }